<div class="row">
    <div class="col-4">
        <div class="col-12" style="color: black; font-size: 24px;">
           {{ hours }}
        </div>
        <div class="col-12" style="color: black;">
            годин
        </div>
    </div>

    <div class="col-4">
        <div class="col-12" style="color: black; font-size: 24px;">
            {{ minutes }}
        </div>
        <div class="col-12" style="color: black;">
            <span>
                хвилин
            </span>
        </div>
    </div>

    <div class="col-4">
        <div class="col-12" style="color: black; font-size: 24px;">
            {{ seconds }}
        </div>
        <div class="col-12" style="color: black;">
            секунд
        </div>
    </div>
</div>