<top-navigation></top-navigation>
<left-sidebar></left-sidebar>

<router-outlet></router-outlet>
<footer class="site-footer">
    <div class="site-footer-legal">
        <a href="/shared/termofuses">Правила користування</a>
        <br />
        <a href="/shared/aboutcompany">Про нас</a>
    </div>
    <div class="site-footer-right">
        © Pravozno 2021
        <img src="assets/visamaster.png" style="max-height:50px" />
    </div>
    <a href="https://t.me//mikefrompravozno" target="_blank" class="btn btn-floating btn-danger" style="display:block; position: fixed; right: 10px; bottom: 68px;"><i style="margin-top: 9px;" class="icon wb-chat-group" aria-hidden="true"></i></a>
</footer>
