<div style="display:flex">
    <div class="znotimer-element">
        <div class="znotimer-numbers">
            {{ days }}
        </div>
        <div class="znotimer-numbers-desc">
            днів
        </div>
    </div>
    <div class="znotimer-element">
        <div class=" znotimer-numbers">
            &nbsp;
        </div>
    </div>
    <div class="znotimer-element">
        <div class=" znotimer-numbers">
            {{ hours }}
        </div>
        <div class=" znotimer-numbers-desc">
            годин
        </div>
    </div>
    <div class="znotimer-element">
        <div class=" znotimer-numbers">
            :
        </div>
    </div>
    <div class="znotimer-element">
        <div class=" znotimer-numbers">
            {{ minutes }}
        </div>
        <div class="znotimer-numbers-desc">
            <span>
                хвилин
            </span>
        </div>
    </div>
    <div class="znotimer-element">
        <div class="znotimer-numbers">
            :
        </div>
    </div>
    <div class="znotimer-element">
        <div class="znotimer-numbers">
            {{ seconds }}
        </div>
        <div class="znotimer-numbers-desc">
            секунд
        </div>
    </div>
</div>